img.logo {
  display: block;
  margin: 20px auto;
  height: 12%;
  width: 12%;
  padding: 0;
}

.jumbotron {
  padding-top: 0;
  margin-bottom: 10px;
  background-image: url("images/kids2.jpg");
  background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  min-height: 300px;
}


a.logo-txt {
  text-align: center;
  display: block;
  font-size: 28px;
  color: gray;
}

a.logo-txt:hover{
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover
{
  text-align: center;
  border-left: 4px solid #9f82da;
  border-right: 4px solid #9f82da;
  color: #33383b;
  font-weight: 300;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
nav.navbar.navbar-default{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #8863d1;
  font-size: 18px;
  padding-top: 0;
}

div#header-ribbon.container-fluid{
  padding-bottom: 0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #b59ee2;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #b59ee2;
}
.navbar-default .navbar-nav>li{
  display: inline-block;
  float: none;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  text-decoration: none;
  background-color: #b59ee2;

}

.navbar-default .navbar-nav>li>a:focus{
  background-color: #b59ee2;
}

.navbar-default .navbar-nav>.active>a:hover{
  background-color: #b59ee2;

}

.navbar-default .navbar-nav>.active>a{
  background-color: #b59ee2;
  color: #33383b;
}

ul.nav.navbar-nav {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

.ribbon {
 font-size: 30px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability.
  If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 70%;

 position: relative;
 background: #88B235;
 color: #fff;
 text-align: center;
 padding: 0.3em 0.5em; /* Adjust to suit */
 margin: 0 auto 1em; /*Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon
                      'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -0.7em;
 border: 1em solid #799e2f;
 z-index: -1;
}
.ribbon:before {
 left: -1.8em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -1.8em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #5b7723 transparent transparent transparent;
 bottom: -0.7em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 0.7em 0 0 0.7em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 0.7em 0.7em 0 0;
}


/******************************* BOXES *********************************/

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}*/

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}


.img-full {
    /*height: 400px;*/
    width: 100%;
    overflow: hidden;
    max-height: 400px;
    float: none;
}

.greet,
.brand-name {
    text-transform: capitalize;
}

.greet {
  margin: 15px 0;
}

h1.brand-name {
  padding-top: 35px;
  margin: 0;
  font-size: 25px;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #F9BF51;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div#slides{
  margin: auto;
  float: none;
}

.intro-text {
  margin-top: 25px;
  font-size: 1.25em;
  font-weight: 400;

}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}


@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/****************************** FOOTER ************************************/
.footer-distributed{
  background-color: #8863d1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}


/* Footer Left */
div.footer-left{
  width: 35%;
  height: inherit;
  }

img.footer-logo{
  margin-left: 10%;
  margin-right: auto;
  display: inline-block;
  height: 180px;
  width: auto;
  margin-bottom: 30px;
  padding: 0;
  filter:contrast(300%);
}
div.logo-div{
  /*padding-top: 25px;*/
}


/* Footer Center */

.footer-distributed .footer-center{
    width: 40%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #E2E3E4;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #E2E3E4;
    text-decoration: none;;
}


/* Footer Right */

div.footer-right{
  width: 20%;
}

div.footer-right a{
  color: white;
  display: inline-block;
  color: #E2E3E4;
  vertical-align: middle;
}
/*.footer-distributed i#footer-icons{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}*/

div.footer-right a:hover{
  color: #33383b;
  text-decoration: none;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}

i#footer-icons:hover{
  cursor: pointer;
  background-color: #9f82da;
  color: white;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}

i#footer-icons.fa.fa-globe{
 font-size:47px;
 background-color: #8863d1;
 color: #33383b;
 }

i#footer-icons.fa.fa-globe:hover{
  background-color: white;
  color: #9f82da;
}

/* Make footer responsive */
@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
        /*margin-left: 30%;*/
        margin-right: auto;
        text-align: left;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}

@media (max-width: 600px){
  div.col-md-12.main{
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: auto;
    text-align: left;
  }
}
/* ICONS */
i#footer-icons{
  display: inline-block;
  color: #b59ee2;
  background-color:  #33383b;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  /*background-color: #8863d1; -no background*/
  /* 474b4e - lighter gray*/
}


/******************************** CONTACT PAGE *****************************************/
/*div.col-md-12.main{
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: blue;
  width: 80%;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
iframe.map{
  display: block;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 80px;
}*/
.map {
  width: 80%;
  /*float: right;*/
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  /*background-color: yellow;*/
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    display: inline-block;
}

div.col-lg-5.info{
  border-left: 2px solid #b59ee2;
}

div.middle{
  /*background-color: red;*/
  min-height: 500px;
  width: 70%;
  display: block;
  margin-top: 40px;
}

iframe#frame{
  float: right;
  margin-top: 40px;
  /*width: 90%;
  height: 90%;*/
}

div.middle h3{
  font-size: 18px;
  font-weight: bold;
  color: #33383b;
  /*margin-top: 20px;*/
}

div.middle p{
  /*padding-top: 0;*/
  font-size: 15px;
  color: #33383b;
}

i#contact-icon{
  font-size: 25px;
  background-color: #8863d1;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 2px;
}

div.middle a{
  text-decoration: none;
  color: #33383b;
  font-size: 16px;
  margin-left: 0;
}


.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #b59ee2;
    border: 1px solid #8863d1;
    border-radius: 4px;
    -webkit-transition: border .1s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border: 3.2px solid #8863d1;
}

a.thumbnail{
  color: #33383b;
  padding-top: 15px;
  padding-bottom: 25px;
  /*font-weight: bold;*/
  font-size: 25px;
  text-decoration: none;
  text-align: center;
}

div#about p{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  text-align: justify;
  background-color: #b59ee2;
  border-radius: 20px;
}
